src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="134d5104-f70a-4395-83aa-f3d67794b3d5" >
		<http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS" tlsContext="1-Way-TLS_Context"/>
	</http:listener-config>
	<flow name="exampleProcessMainFlow" doc:id="f9aeb882-f6ce-4eaf-838c-e8724a489fe4" >
		<http:listener doc:name="Listener" doc:id="5d09253a-4352-4d07-9bad-205112e929fe" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="setProcessData" doc:id="24f87c30-4785-4e34-9bde-b84c41bfff6a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dataweave/exampleProcess/setExampleProcessData.dwl" variableName="ProcessData" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="runData: initialize-process-dataFlow" doc:id="cb32e025-aa41-4f28-aac7-1ac62b2f2772" name="initialize-process-dataFlow" target="runData"/>
		<logger level="INFO" doc:name="implementation logic " doc:id="dc6cea18-8149-489e-bbcd-f9fb7b4961cc" message="implementation logic "/>
		<ee:transform doc:name="runData: updateRunData" doc:id="2a704bfa-ccb5-44bb-8fbe-05cce0e39517" >
			<ee:message >
				<ee:set-payload resource="dataweave/exampleProcess/updateSampleRunDataComplete.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dataweave/exampleProcess/updateSampleRunDataComplete.dwl" variableName="runData" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log vars.runData" doc:id="5b48a85d-8366-4f88-845c-95c06b267dfb" message="#[vars.runData]"/>
	</flow>
</mule>
